    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install System Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y portaudio19-dev python3-all-dev libasound2-dev xvfb

    - name: Install Python Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyaudio  # Agora ele vai encontrar os headers do PortAudio
        pip install -r requirements.txt
        pip install pytest pytest-cov mock
