name: Python Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-core:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        # Instalamos apenas o necessário para o Core e para os Testes
        if [ -f requirements/core.txt ]; then pip install -r requirements/core.txt; fi
        pip install pytest pytest-cov mock

    - name: Run Core Tests
      run: |
        # O pytest vai rodar os testes do Domain e Application
        # Como o Core é Python puro, ele passará sem precisar de hardware
        pytest --cov=app tests/ --junitxml=pytest.xml
